{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="w-100 default stars1 bg-black one-hundo" style="min-height: 100vh">
		<div class="w-100 pt5 mw9 center white pl2 pr2 one-hundo">
	    {{ page.content }}
    </div>
	</div>
{% endblock %}