{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
	{% set first = collection|first %}


	{% block content %}
	<div class="w-100 dib one-hundo relative">
		<div class="one-hundo relative">
			<div class="stars2 w-100 fl center bg-piece-container">
				<div class="w-100 fl center bg-piece" style="
					background-image: url({{page.media[page.header.featuredImage].cropResize(500,500).url()}});
				">
					<div class="dib absolute tagline">
						<h3 class="dib">{{page.header.tagline}}</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="one-hundo relative">
			<div class="stars1 w-100 fl center bg-near-black bg-piece-container">
				<div class="w-100 fl center bg-piece shadow-4" style="
					background-image: url({{page.media[page.header.headShot].cropResize(500,500).url()}});
				">
					<div class="dib absolute tagline white">
						<h3 class="dib">{{page.header.taglineTwo}}</h3>
					</div>
				</div>	
			</div>
		</div>
	</div>
	{% endblock %}

{% endembed %}