.news-item-header {
	h4 {
		display: inline-block;
		margin-bottom: 0;
	}
	.date {
		display: inline-block;
	}
}

.news-item-content {
	
}

.home-news-feed {
	margin-top: 2rem;

	h2 {
		margin-bottom: 0;
	}
}